<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{- partial "head.html" . -}}
  <link rel="stylesheet" type="text/css" href="/fonts/1984-Default-Fonts.css" />
  <link rel="stylesheet" type="text/css" href="/main.css" />

  <body dir="{{ .Site.Language.LanguageDirection | default `ltr` }}" class="AtlasGrotesk-Regular-Web">
    {{- block "main" . }}{{ end -}}
    {{- if or (eq .Site.Params.footer.enable nil) (.Site.Params.footer.enable) }}
      {{ partial "footer.html" . }}
    {{ end }}
    {{ partial "scripts.html" . }}
  </body>
</html>
