@tailwind utilities;

.content ul {
  @apply text-base
}
.content ol {
  @apply text-base
}

.content p {
  @apply text-base
}

article main {
  @apply top-8 !important;
}

article main > div:first-child {
  margin-top: 0;
}

hr {
  @apply mt-8 mb-8 border-gray-600;
}

.hextra-scrollbar {
  padding-top: 0 !important;
  @apply top-8 !important;
}

.hextra-scrollbar a, .hextra-scrollbar p {
  font-weight: 400;
}

.content a {
  @apply text-nt84orange !important;
  @apply bg-transparent !important;
}

.sidebar-container {
  font-weight: 400 !important;
}

a.sidebar-active-item {
  @apply text-nt84orange;
  @apply bg-transparent;
}

html[class~="dark"] a.sidebar-active-item {
  @apply text-nt84orange !important;
  @apply bg-transparent !important;
}
