{{- $hideLabel := .hideLabel | default false -}}

{{- $changeTheme := (T "changeTheme") | default "Change theme" -}}
{{- $light := (T "light") | default "VC Mode" -}}
{{- $dark := (T "dark") | default "Founder Mode" -}}


<button
  title="{{ $changeTheme }}"
  data-theme="light"
  class="theme-toggle
  ltr:pl-4 rtl:pr-4 inline-block text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300 w-full group h-7 rounded-md px-2 text-left text-sm"
  type="button"
  aria-label="{{ $changeTheme }}"
>
  <div class="flex items-center gap-2 capitalize">
    {{- if not $hideLabel }}<span class="group-data-[theme=light]:hidden">Founder Mode</span>{{ end -}}
    {{- partial "utils/icon.html" (dict "name" "moon" "attributes" "height=12 class=\"group-data-[theme=light]:hidden\"") -}}
    {{- if not $hideLabel }}<span class="group-data-[theme=dark]:hidden">VC Mode</span>{{ end -}}
    {{- partial "utils/icon.html" (dict "name" "sun" "attributes" "height=12 class=\"group-data-[theme=dark]:hidden\"") -}}
  </div>
</button>
