{{ define "body" }}
  <div id="wrapper">
    <div id="logo"></div>
    <div id="about">
      <img src="/landing/assets/hello.png"/><br/><br/>
      <p>In 1984 Apple introduced the Macintosh via an <a target="_new" href="https://www.youtube.com/watch?v=VtvjbmoDx-I">iconic commercial</a> and a simple idea:</p>
      <p>A nimble startup can stand up to massive incumbents using great software, agility, and a laser focus on what customers need. And suddenly "Small Tech" was born</p>
      <p>Thirty years later, nimble Apple is the biggest company in the world. </p>
      <p>At 1984 we are looking to back founders who share the same belief: that a nimble startup can build amazing software to disrupt any industry and upend any incumbent.</p>
    </div>

    <div id="philosophy">
      <div class="philosophy_container container">
        <div class="header AtlasTypewriter-Regular-Web">PHILOSOPHY</div>
        <div class="philosophy-circle desktop_only"><div class="circletext" class="header AtlasTypewriter-Regular-Web">WHY 1984</div></div>
        <div class="title white">
          No buzzwords. No hype. <br/> We invest in founders using software to solve real &#x1f30e; problems and provide <a href="/docs/" class="hover-underline">outsized support</a>
          <div id="mobile_why" class="mobile_only">WHY 1984?</div>
        </div>
        <div id="pillarContainer">
          <div class="pillars">
            <p>How we invest</p>
            <ol>
              <li>We only invest in seed &#127793;. It's what we know and love and where we provide the
                most value </li>
              <li>We are drawn to founders with grit, industry insights and a strong engineering culture
                &#128105;&#8205;&#128187;</li>
              <li>We invest via <a href="/docs/founders-handbook/safe-vs-priced-round/">SAFE or equity</a>, and can lead or participate.</li>
            </ol>
          </div>
          <div class="pillars MID">
            <p>How we operate</p>
            <ol>
              <li>We don't take board seats. We prefer to be in your speed dial and get the late-night
                call &#129305;</li>
              <li>We help with recruiting, &#128176; raising, and founder therapy &#128553;</li>
              <li>We will work with you to ensure you're set up for an outstanding Series A &#127942; (Check out our <a href="/docs/founders-handbook/raising-your-series-a/">Founders Handbook</a>)</a></li>
            </ol>
          </div>
        </div>
        <div id="teamContainer">
          <div id="teamInvest">
            <div class="header AtlasTypewriter-Regular-Web" id="investHeader">INVESTMENT TEAM</div>
            <!---------------------------->
            <!------ RAMY RAMY RAMY ------>
            <!---------------------------->
            <div class="SVGcontainer">
              <div id="ramySVG"></div>
            </div>
            <div class="nameJob">
              <p>Ramy Adeeb</p>
              <p class="job">Managing Partner</p>
            </div>
            <div class="bio">
              An entrepreneur and investor, Ramy is founder and CEO of Snip.it (Acquired by Yahoo, where
              he served as a product executive) and one of the earliest engineers at Tellme Networks
              (Acquired by Microsoft). Ramy started his investing career at Khosla Venture where he worked
              with investors Vinod Khosla and Pierre Lamond on many investments including Groupme
              (acquired by Skype), Square (NASDAQ:SQ), and Storify (acquired by LiveFyre). He holds a BA
              and MS in Computer Science from Harvard and an MBA from Stanford.
            </div>
            <!---------------------------->
            <!--- Samit                 -->
            <!---------------------------->
            <div class="SVGcontainer">
              <div id="samitSVG"></div>
            </div>
            <div class="nameJob">
              <p>Samit Kalra</p>
              <p class="job">Partner</p>
	      <p class="job">SaaS & Marketplaces</p>
            </div>
            <div class="bio">
              Samit was working as an investment banker in Australia when he first heard about the venture
              capital industry. It resonated with him so much that in 2017, he packed up his bags and
              moved to San Francisco. He began his investing career at AngelList, helping over 150
              founders close early funding rounds. From there, he joined the investing team at Bain
              Capital Ventures where he ran the firm's early-stage fund program which generated 15 seed
              investments. Samit is a keen student of the industry and blogs about his learnings (see his
              investment framework and blog posts <a href="https://samit-kalra.com/blog">here</a>).

            </div>

            <!---------------------------->
            <!--- MARK MARK MARK --->
            <!---------------------------->
            <div class="SVGcontainer">
              <div id="markSVG"></div>
            </div>
            <div class="nameJob">
              <p>Mark Percival</p>
              <p class="job">Partner</p>
	      <p class="job">Infrastructure + Dev</p>
            </div>
            <div class="bio">
              Mark's journey in software development began with writing an IRC bot and grew into a career
              driven by a passion for open source. His early work in mobile-focused open source projects in 
              the pre-iPhone era led to an early role at Twitter, where he helped develop their first mobile products.  
              Later, as CTO at Snip.it, acquired by Yahoo, he focused on integrating Tumblr into the Yahoo platform
               as a software architect.  At 1984, Mark assesses potential investments and aids portfolio companies 
               in executing on their technical visions. He can be found on GitHub where he maintains several popular 
               open source libraries and has contributed to more than 200 others. 
            </div>
		  
            <!---------------------------->
            <!--- FARZAD FARZAD FARZAD --->
            <!---------------------------->
            <div class="SVGcontainer">
              <div id="farzadSVG"></div>
            </div>
            <div class="nameJob">
              <p>Farzad Soleimani</p>
              <p class="job">Partner</p>
	      <p class="job">Healthcare</p>
            </div>
            <div class="bio">
              A VC by day and an ER physician by night, Farzad has over 20 years of experience at the
              intersection of healthcare and entrepreneurship. He is the founder of eTherapi, a pioneering
              telemedicine company, and the founding co-director of the Texas Medical Center Biodesign
              Innovation Program. Farzad started his investing career at Mohr Davidow Ventures, completed
              his residency training at Baylor and earned his MBA, MD, MS, and BS from Stanford
              University. He is on faculty at Baylor Medical School, Rice Business School, and Rice
              Bioengineering Department.
            </div>

          </div>
          <div id="teamPartners">
            <div class="header AtlasTypewriter-Regular-Web" id="advisorsHeader">SENIOR ADVISORS</div>
            <div class="nameJob">
              <p>Andy Rachleff</p>
              <p class="job">Founder of Benchmark Capital</p>
            </div>
            <div class="nameJob">
              <p>Michael Smith</p>
              <p class="job">Dean of the Faculty of Arts and Sciences at Harvard University</p>
            </div>
            <div class="nameJob">
              <p>Jim Messina</p>
              <p class="job">Chief of staff for operations under President Obama</p>
            </div>
            <div class="nameJob">
              <p>Sir Mohamed Mansour</p>
              <p class="job">Chairman of Mansour Group, a global conglomerate and GM's largest distributor
                globally</p>
            </div>

            <div class="header AtlasTypewriter-Regular-Web" id="partnersHeader">TECHNOLOGY PARTNERS</div>
            <div class="nameJob">
              <p>Kyle Oppenheim</p>
              <p class="job">VP of Engineering at Groupon, director of eng at Facebook</p>
            </div>
            <div class="nameJob">
              <p>Karim Wahba</p>
              <p class="job">Head of Data Science at Fairmarkit, and previously at Stitch Fix, Uber and Ginger.io</p>
            </div>



            <div class="header AtlasTypewriter-Regular-Web" id="partnersHeader">VENTURE PARTNERS</div>
            <div class="nameJob">
              <p>Drew Uher</p>
              <p class="job">Founder and CEO at Homelight</p>
            </div>
            <div class="nameJob">
              <p>Jennifer Pollock</p>
              <p class="job">Head of content Marketing at Square</p>
            </div>
            <div class="nameJob">
              <p>Greg Pal</p>
              <p class="job">Founder and CBO at Automat.ai and VP at Nuance</p>
            </div>
            <div class="nameJobLast">
              <p>Daniele Codega</p>
              <p class="job">Partner at Work & Co. Previously Head of Design at Reuters, Creative Director
                at HuffPost</p>
            </div>
          </div>
        </div>
      </div>

      <div class="philosophy_footer footer">
        <p>Built using Emacs (vim users can still apply)</p>
        <p>44 Tehama Street, San Francisco, CA</p>
        <p>Contact us:<br>
          <span class="opacity">team@1984.vc</span>
        </p>
      </div>
    </div>
    <div id="portfolio">
      <div class="container portfolio_container">
        <div class="header AtlasTypewriter-Regular-Web">PORTFOLIO</div>
        <div class="title">
          Since 2017, we have partnered with outstanding entrepreneurs shaking up many industries.
        </div>

        <div id="filters">
          <label class="filter-label"><input type="radio" name="radio" checked="checked" id="featured"><span
              class="first checkmark"></span>Featured</label>
          <label class="filter-label"><input type="radio" name="radio" id="saas"><span
              class="checkmark"></span>Vertical SaaS</label>
          <label class="filter-label"><input type="radio" name="radio" id="ai"><span
              class="checkmark"></span>AI/ML</label>
          <label class="filter-label"><input type="radio" name="radio" id="oss"><span
              class="checkmark"></span>OSS/Devtools</label>
          <label class="filter-label"><input type="radio" name="radio" id="healthcare"><span
              class="checkmark"></span>Digital Health</label>
        </div>
        <ul>
			  {{/*  <li class='company filter-supplychain filter-consumer ' data-url="nicksonliving.com">Nickson, <span class='opacity'>Furniture as a service</span></li>  */}}
        {{ $Highlighted := where .Site.Data.portco "properties.Highlighted" true }}
        {{ $Unhighlighted := where .Site.Data.portco "properties.Highlighted" false }}
        {{ range (sort $Highlighted "properties.Sort Order Override" "desc" )}}
          <li class='company filter-featured {{ range .properties.Tags }} filter-{{ . }} {{ end }}' data-url="{{ .properties.URL }}">
          <img src="/landing/companies/{{ lower .properties.Name }}.png"></img>
          <div class='desc'>{{ .properties.Description }}</div>
          <div class='story'>{{ .properties.Story }}</div>
          </li>
        {{ end }}
        {{ range (sort $Unhighlighted "properties.Sort Order Override" "desc" )}}
          <li class='company {{ range .properties.Tags }} filter-{{ . }} {{ end }}' data-url="{{ .properties.URL }}">
          {{ .properties.Name }}, 
          <span class='opacity'>{{ .properties.Description }}</span>
          </li>
        {{ end }}
        </ul>
      </div>
      <div class="portfolio_footer footer">
        <p>Built using Emacs (vim users can still apply)</p>
        <p>44 Tehama Street, San Francisco, CA</p>
        <p>Contact us:<br>
          <span class="opacity">team@1984.vc</span>
        </p>
      </div>
    </div>
    <div id="newsletter">
      <div class="newsletter-top-container">
        <div class="header AtlasTypewriter-Regular-Web">RESOURCES</div>

        <div class="title">
          Every founder's path is different, but since many hurdles are shared, we created the Founders Handbook to help you tackle them.
        </div>

        <div class="newsletter-top-right">

        </div>
      </div>
      <div class="newsletter-bottom-container">
        <div class="news-intro">
          <div id="newsletter_body">
            {{ range .Site.Data.foundersHandbook.toc }}
            <span class="heading">{{ .title }}</span>
            <div class="news-item border-top">
              {{ $counter := 0 }}
              {{ range .items }}
                {{ $counter = add $counter 1 }}
                <div>
                  <a href="{{ .url }}" target="_new">
                    <div class="number">{{ $counter }}.</div>
                    <h1 class="AtlasTypewriter-Regular-Web">{{ .title }} 
                      <span class="opacity">– 1984 Founders Handbook</span>
                    </h1>
                  </a>
                </div>
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="news_footer footer">
        <p>Built using Emacs (vim users can still apply)</p>
        <p>44 Tehama Street, San Francisco, CA</p>
        <p>Contact us:<br>
          <span class="opacity">team@1984.vc</span>
        </p>
      </div>
    </div>
    <div id="archive" class="clickable">
      <div class="archive-top-container">
        <div class="header AtlasTypewriter-Regular-Web">1984 FOUNDERS HANDBOOK</div>
        <div class="archive-top-right"></div>
      </div>
      <div class="archive-bottom-container">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <ul>
          <li>Coming Soon</li>
        </ul>
      </div>
    </div>
  </div>
    {{ with resources.Get "landing/js/main.js" }}
      {{ $mainjs := . | fingerprint "sha512" }}
      <script src="{{ $mainjs.RelPermalink }}"></script>
    {{ end }}
  
{{ end }}
