{{ define "body" }}
  <div id="wrapper">
    <div id="logo"></div>
    <div id="about">
      <img src="assets/hello.png"/><br/><br/>
      <p>In 1984 Apple introduced the Macintosh via an <a target="_new" href="https://www.youtube.com/watch?v=VtvjbmoDx-I">iconic commercial</a> and a simple idea:</p>
      <p>A nimble startup can stand up to massive incumbents using great software, agility, and a laser focus on what customers need.</p>
      <p>Thirty years later, nimble Apple is the biggest company in the world. </p>
      <p>At 1984 we are looking to back founders who share the same belief: that a unique insight paired with amazing software can disrupt any industry and upend any incumbent.</p>
    </div>

    <div id="philosophy">
      <div class="philosophy_container container">
        <div class="header AtlasTypewriter-Regular-Web">PHILOSOPHY</div>
        <div class="philosophy-circle desktop_only"><div class="circletext" class="header AtlasTypewriter-Regular-Web">WHY 1984</div></div>
        <div class="title white">
          No buzzwords. No hype. <br/> We invest in founders using software to solve real &#x1f30e; problems.
          <div id="mobile_why" class="mobile_only">WHY 1984?</div>
        </div>
        <div id="pillarContainer">
          <div class="pillars">
            <p>How we invest</p>
            <ol>
              <li>We only invest in seed &#127793;. It’s what we know and love and where we provide the
                most value </li>
              <li>We are drawn to founders with grit, industry insights and a strong engineering culture
                &#128105;&#8205;&#128187;</li>
              <li>We invest via SAFE or equity, and can lead or participate.</li>
            </ol>
          </div>
          <div class="pillars MID">
            <p>How we operate</p>
            <ol>
              <li>We don't take board seats. We prefer to be in your speed dial and get the late-night
                call &#129305;</li>
              <li>We help with recruiting, &#128176; raising, and founder therapy &#128553;</li>
              <li>We will work with you to ensure you're set up for an outstanding Series A &#127942;</li>
            </ol>
          </div>
        </div>
        <div id="teamContainer">
          <div id="teamInvest">
            <div class="header AtlasTypewriter-Regular-Web" id="investHeader">INVESTMENT TEAM</div>
            <!---------------------------->
            <!------ RAMY RAMY RAMY ------>
            <!---------------------------->
            <div class="SVGcontainer">
              <div id="ramySVG"></div>
            </div>
            <div class="nameJob">
              <p>Ramy Adeeb</p>
              <p class="job">Managing Partner</p>
            </div>
            <div class="bio">
              An entrepreneur and investor, Ramy is founder and CEO of Snip.it (Acquired by Yahoo, where
              he served as a product executive) and one of the earliest engineers at Tellme Networks
              (Acquired by Microsoft). Ramy started his investing career at Khosla Venture where he worked
              with investors Vinod Khosla and Pierre Lamond on many investments including Groupme
              (acquired by Skype), Square (NASDAQ:SQ), and Storify (acquired by LiveFyre). He holds a BA
              and MS in Computer Science from Harvard and an MBA from Stanford.
            </div>
            <!---------------------------->
            <!--- Samit                 -->
            <!---------------------------->
            <div class="SVGcontainer">
              <div id="samitSVG"></div>
            </div>
            <div class="nameJob">
              <p>Samit Kalra</p>
              <p class="job">Partner - <br/> SaaS & Marketplaces</p>
            </div>
            <div class="bio">
              Samit was working as an investment banker in Australia when he first heard about the venture
              capital industry. It resonated with him so much that in 2017, he packed up his bags and
              moved to San Francisco. He began his investing career at AngelList, helping over 150
              founders close early funding rounds. From there, he joined the investing team at Bain
              Capital Ventures where he ran the firm's early-stage fund program which generated 15 seed
              investments. Samit is a keen student of the industry and blogs about his learnings (see his
              investment framework and blog posts <a href="https://samit-kalra.com/blog">here</a>).

            </div>

            <!---------------------------->
            <!--- MARK MARK MARK --->
            <!---------------------------->
            <div class="SVGcontainer">
              <div id="markSVG"></div>
            </div>
            <div class="nameJob">
              <p>Mark Percival</p>
              <p class="job">Partner  - <br/> Infrastructure + Devtools</p>
            </div>
            <div class="bio">
              Mark's journey in software development began with writing an IRC bot and grew into a career
              driven by a passion for open source. His early work in mobile-focused open source projects in 
              the pre-iPhone era led to an early role at Twitter, where he helped develop their first mobile products.  
              Later, as CTO at Snip.it, acquired by Yahoo, he focused on integrating Tumblr into the Yahoo platform
               as a software architect.  At 1984, Mark assesses potential investments and aids portfolio companies 
               in executing on their technical visions. He can be found on GitHub where he maintains several popular 
               open source libraries and has contributed to more than 200 others. 
            </div>
		  
            <!---------------------------->
            <!--- FARZAD FARZAD FARZAD --->
            <!---------------------------->
            <div class="SVGcontainer">
              <div id="farzadSVG"></div>
            </div>
            <div class="nameJob">
              <p>Farzad Soleimani</p>
              <p class="job">Partner  - <br/> Healthcare</p>
            </div>
            <div class="bio">
              A VC by day and an ER physician by night, Farzad has over 15 years of experience at the
              intersection of healthcare and entrepreneurship. He is the founder of eTherapi, a pioneering
              telemedicine company, and the founding co-director of the Texas Medical Center Biodesign
              Innovation Program. Farzad started his investing career at Mohr Davidow Ventures, completed
              his residency training at Baylor and earned his MBA, MD, MS, and BS from Stanford
              University. He is on faculty at Baylor Medical School, Rice Business School, and Rice
              Bioengineering Department.
            </div>

            <!--------------------------->
            <!---- AARON AARON AARON ---->
            <!--------------------------->
            <div class="SVGcontainer">
              <div id="aaronSVG"></div>
            </div>
            <div class="nameJob">
              <p>Aaron Michel</p>
              <p class="job">Operating Partner</p>
            </div>
            <div class="bio">
              Named to venture capital’s 40 Under 40 by VC Journal in 2020, Aaron is the co-founder of
              PathSource, an edtech startup that rose to be the top career app in the App Store until its
              acquisition in 2017. Aaron also created the online game Fantasy Politics for the 2012
              election. Inducted into the annual Innovation Rockstar list by the Boston Business Journal,
              Aaron has written for Entrepreneur Magazine, Fast Company and a range of business outlets.
              He holds an MBA from Harvard Business School and an MPA from Harvard Kennedy School of
              Government.
            </div>

          </div>
          <div id="teamPartners">
            <div class="header AtlasTypewriter-Regular-Web" id="advisorsHeader">SENIOR ADVISORS</div>
            <div class="nameJob">
              <p>Andy Rachleff</p>
              <p class="job">Founder of Benchmark Capital</p>
            </div>
            <div class="nameJob">
              <p>Michael Smith</p>
              <p class="job">Dean of the Faculty of Arts and Sciences at Harvard University</p>
            </div>
            <div class="nameJob">
              <p>Jim Messina</p>
              <p class="job">Chief of staff for operations under President Obama</p>
            </div>
            <div class="nameJob">
              <p>Sir Mohamed Mansour</p>
              <p class="job">Chairman of Mansour Group, a global conglomerate and GM's largest distributor
                globally</p>
            </div>

            <div class="header AtlasTypewriter-Regular-Web" id="partnersHeader">TECHNOLOGY PARTNERS</div>
            <div class="nameJob">
              <p>Kyle Oppenheim</p>
              <p class="job">VP of Engineering at Groupon, director of eng at Facebook</p>
            </div>
            <div class="nameJob">
              <p>Mark Percival</p>
              <p class="job">First mobile engineer at Twitter, Co-founder and CTO at Snipit, Architect at
                Yahoo</p>
            </div>
            <div class="nameJob">
              <p>Karim Wahba</p>
              <p class="job">Head of Data Science at Fairmarkit, and previously at Stitch Fix, Uber and Ginger.io</p>
            </div>



            <div class="header AtlasTypewriter-Regular-Web" id="partnersHeader">VENTURE PARTNERS</div>
            <div class="nameJob">
              <p>Drew Uher</p>
              <p class="job">Founder and CEO at Homelight</p>
            </div>
            <div class="nameJob">
              <p>Jennifer Pollock</p>
              <p class="job">Head of content Marketing at Square</p>
            </div>
            <div class="nameJob">
              <p>Greg Pal</p>
              <p class="job">Founder and CBO at Automat.ai and VP at Nuance</p>
            </div>
            <div class="nameJobLast">
              <p>Daniele Codega</p>
              <p class="job">Partner at Work & Co. Previously Head of Design at Reuters, Creative Director
                at HuffPost</p>
            </div>
          </div>
        </div>
      </div>

      <div class="philosophy_footer footer">
        <p>Built using Emacs (vim users can still apply)</p>
        <p>44 Tehama Street, San Francisco, CA</p>
        <p>Contact us:<br>
          <span class="opacity">team@1984.vc</span>
        </p>
      </div>
    </div>
    <div id="portfolio">
      <div class="container portfolio_container">
        <div class="header AtlasTypewriter-Regular-Web">PORTFOLIO</div>
        <div class="title">
          Since 2017, we have partnered with outstanding entrepreneurs shaking up many industries.
        </div>
        <!--
	    <div class="custom-radios">
        <div>
          <input type="radio" id="color-3" name="color" value="color-3">
          <label for="color-3">
            <span>
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>

        <div>
          <input type="radio" id="color-4" name="color" value="color-4">
          <label for="color-4">
            <span>
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
      </div>
      -->

        <div id="filters">
          <label class="filter-label"><input type="radio" name="radio" checked="checked" id="featured"><span
              class="first checkmark"></span>Featured</label>
          <label class="filter-label"><input type="radio" name="radio" id="ai"><span
              class="checkmark"></span>AI/ML</label>
          <label class="filter-label"><input type="radio" name="radio" id="opensource"><span
                class="checkmark"></span>Open source</label>
          <label class="filter-label"><input type="radio" name="radio" id="ecommerce"><span
              class="checkmark"></span>eCommerce</label>
          <label class="filter-label"><input type="radio" name="radio" id="supplychain"><span
              class="checkmark"></span>Supply Chain</label>
          <label class="filter-label"><input type="radio" name="radio" id="proptech"><span
              class="checkmark"></span>Proptech</label>
          <label class="filter-label"><input type="radio" name="radio" id="fintech"><span
              class="checkmark"></span>Fintech</label>
          <label class="filter-label"><input type="radio" name="radio" id="healthcare"><span
              class="checkmark"></span>Healthcare</label>
          <label class="filter-label"><input type="radio" name="radio" id="saas"><span
              class="checkmark"></span>SaaS</label>
          <label class="filter-label"><input type="radio" name="radio" id="consumer"><span
              class="checkmark"></span>Consumer</label>
          <label class="filter-label"><input type="radio" name="radio" id="marketplace"><span
              class="checkmark"></span>Marketplace</label>
          <label class="filter-label"><input type="radio" name="radio" id="infrastructure"><span
              class="checkmark"></span>Infrastructure</label>
        </div>
        <ul>
			  {{/*  <li class='company filter-supplychain filter-consumer ' data-url="nicksonliving.com">Nickson, <span class='opacity'>Furniture as a service</span></li>  */}}
          {{ range .Site.Data.portfolio }}
            {{ if .Highlighted }}
              <li class='company filter-featured {{ range .Filters }} filter-{{ . }} {{ end }}' data-url="{{ .URL }}">
              <img src="companies/{{ lower .Name }}.png"></img>
              <div class='desc'>{{ .Description }}</div>
              <div class='story'>{{ .Story }}</div>
            {{ else }}
              <li class='company {{ range .Filters }} filter-{{ . }} {{ end }}' data-url="{{ .URL }}">
              {{ .Name }}, 
              <span class='opacity'>{{ .Description }}</span>
            {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="portfolio_footer footer">
        <p>Built using Emacs (vim users can still apply)</p>
        <p>44 Tehama Street, San Francisco, CA</p>
        <p>Contact us:<br>
          <span class="opacity">team@1984.vc</span>
        </p>
      </div>
    </div>
    <div id="newsletter">
      <div class="newsletter-top-container">
        <div class="header AtlasTypewriter-Regular-Web">RESOURCES</div>

        <div class="title">
          We value convos over blanket advice. But for the latter, here's the best we could find. 
        </div>

        <div class="newsletter-top-right">

        </div>
      </div>
      <div class="newsletter-bottom-container">
        <div class="news-intro">
          <div id="newsletter_body">
            <span class="heading">Company Founding</span>
            <div class="news-item border-top" id="one">
              <div>
                <a href="http://www.paulgraham.com/relres.html" target="_new">
                  <div class="number">1.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">Want to start a company? be relentlessly
                    resourceful <span class="opacity">– Paul Graham</span></h1>
                </a>
              </div>
              <div>
                <a href="http://www.paulgraham.com/ds.html" target="_new">
                  <div class="number">2.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">Do Things that Don’t Scale <span class="opacity">– Paul
                      Graham</span></h1>
                </a>
              </div>
              <div>
                <a href="https://www.geekwire.com/2011/wrong-answer-5050-calculating-cofounder-equity-split/"
                  target="_new">
                  <div class="number">3.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">The only wrong answer is 50/50: Calculating
                    the co-founder equity split<span class="opacity">– Dan Shapiro</span></h1>
                </a>
              </div>
            </div>

            <span class="heading">Fundraising</span>
            <div class="news-item border-top" id="two">

              <div>
                <a href="https://abovethecrowd.com/2015/07/07/in-defense-of-the-deck/" target="_new">
                  <div class="number">1.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">In Defense of the Deck <span class="opacity">- Above the
                      Crowd</span></h1>
                </a>
              </div>

              <div>
                <a href="https://blog.initialized.com/2021/06/the-metrics-you-need-to-raise-a-series-a/" target="_new">
                  <div class="number">2.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">Metrics to raise a Series A <span class="opacity">-
                      initialized.com</span></h1>
                </a>
              </div>
              <div>
                <a href="https://www.lennysnewsletter.com/p/what-is-good-retention-issue-29" target="_new">
                  <div class="number">3.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">Retention metrics for founders <span class="opacity">- Lenny's
                      Newsletter</span></h1>
                </a>
              </div>
              <div>
                <a href="https://kwokchain.com/2021/09/29/narrative-distillation-1/" target="_new">
                  <div class="number">4.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">Narrative Distillation (Or how to tell great
                    narrative)<span class="opacity">- Kevin Kwok</span></h1>
                </a>
              </div>
              <div>
                <a href="https://a16z.com/2022/04/15/16-things-to-know-about-raising-debt-for-startups/" target="_new">
                  <div class="number">5.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">Raising Debt for Startups<span class="opacity">- a16Z</span>
                  </h1>
                </a>
              </div>
            </div>

            <span class="heading">Recruiting</span>
            <div class="news-item border-top" id="two">
              <div>
                <a href="https://www.khoslaventures.com/gene-pool-engineering-for-entrepreneurs" target="_new">
                  <div class="number">1.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">Gene Pool Engineering <span class="opacity">- Vinod
                      Khosla</span></h1>
                </a>
              </div>
            </div>

            <span class="heading">Operating</span>
            <div class="news-item border-top" id="two">
              <div>
                <a href="https://www.lennysnewsletter.com/p/saas-pricing-strategy" target="_new">
                  <div class="number">1.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">Pricing framework for SaaS companies <span class="opacity">-
                      Lenny's Newsletter</span></h1>
                </a>
              </div>

              <div>
                <a href="https://sarahtavel.medium.com/the-hierarchy-of-marketplaces-introduction-and-level-1-983995aa218e"
                  target="_new">
                  <div class="number">2.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">Framework for launching and scaling a
                    marketplace business <span class="opacity">- Sarah Tavel</span></h1>
                </a>

              </div>
              <div>
                <a href="https://christophjanz.blogspot.com/2014/10/five-ways-to-build-100-million-business.html"
                  target="_new">
                  <div class="number">3.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">5 ways to build a $100M revenue business
                    <span class="opacity">- The Angel VC</span>
                  </h1>
                </a>
              </div>
              <div>
                <a href="https://abovethecrowd.com/2012/09/04/the-dangerous-seduction-of-the-lifetime-value-ltv-formula/"
                  target="_new">
                  <div class="number">4.</div>
                  <h1 class="AtlasTypewriter-Regular-Web">The Dangerous Seduction of the Lifetime
                    Value (LTV) Formula<span class="opacity"> - Bill Gurley</span></h1>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="news_footer footer">
        <p>Built using Emacs (vim users can still apply)</p>
        <p>44 Tehama Street, San Francisco, CA</p>
        <p>Contact us:<br>
          <span class="opacity">team@1984.vc</span>
        </p>
      </div>
    </div>
    <div id="archive" class="clickable">
      <div class="archive-top-container">
        <div class="header AtlasTypewriter-Regular-Web">ON INVESTING</div>
        <div class="archive-top-right"></div>
      </div>
      <div class="archive-bottom-container">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <ul>
          <li>Coming Soon</li>
        </ul>
      </div>
    </div>
  </div>
  <script src="/js/main.js"></script>
{{ end }}
